*{
    padding: 0%;
    margin: 0%;
}
/* pagina principal */
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

@media (max-width: 576px) {
    .gridcontainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-areas:
        "header"
        "main"
        "main"
        "footer"
    }
    .escritoPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  }
  @media (min-width:576px){
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: header 
                            main 
                            main                          
                            footer ;
    }
  }

header {
    background-color: #586A6D;
}
.titulo h1 {
    color: #FFFFFF;
    padding: 40px;
    margin: 0%;    
}
.cuerpoPrincipal{
    display: flex;
    flex-direction: column;
}
.imagenAmpliada{
    width: 100%;

}
.escritoPrincipal{
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}
.escritoPrincipal p{
      
    text-align: justify;
    width: 400px;

}
.imagenPerfil{
    width: 400px;
    height: 400px;
    padding: 20px;
    align-items: center;
}

footer {
    background-color:rgb(176, 171, 171);
    color: white;
    padding: 0%;
    margin: 0%;
}
.contenedorFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redesSociales {
    display: flex;

}


.logo{
    width: 24px;
    height: 24px;
}

/* Acerca de mi */
main{
    display: flex;
}
.menulateral {
    padding: 30px;
}
.menulateral ul{
    text-decoration: none;
    list-style: none;
}
.menulateral li{
    padding: 16px;
}
.contenidoprincipal{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: justify;
    width: 70%;
}
.contenidoprincipal h2{
    padding: 20px 0px;
}
.textoimagen{
    display: flex;
}
.textoimagen p{
    padding: 0px 20px 20px 0px;
}
.textoimagen img{
    width: auto;
    height: 300px;
}

/* Portafolio */
.fotospeques {
    width: 100px;
}
/* Servicios*/


/* contacto */
#nombre{
    width: 30%;
}
#correo{
    width: 30%;
}
#mensaje{
    width: 30%;
}