*{
    padding: 0%;
    margin: 0%;
}
/* pagina principal */
/* header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
} */

/* @media (max-width: 576px) {
    .gridcontainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-areas:
        "header"
        "main"
        "main"
        "footer"
    }
    .escritoPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  @media (min-width:576px){
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: header 
                            main 
                            main                          
                            footer ;
    }
  } */

header {
    background-color: #586A6D;
}
.titulo h1 {
    color: #FFFFFF;
    padding: 40px;
    margin: 0%;    
}
.cuerpoPrincipal{
    display: flex;
    flex-direction: column;
}
.imagenAmpliada{
    width: 100%;

}
.escritoPrincipal{
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.escritoPrincipal p{
    text-align: justify;
    width: 400px;
}
.imagenPerfil{
    width: 400px;
    height: 400px;
    padding: 20px;
    align-items: center;
}
footer {
    background-color:rgb(176, 171, 171);
    color: white;
    padding: 0%;
    margin: 0%;
}
.contenedorFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redesSociales {
    display: flex;
}
.logo{
    width: 24px;
    height: 24px;
}

/* Acerca de mi */

.headerOther{
    grid-area: header2;
}
.menuLateral {
    grid-area: menuIzquierdo;
}
.contenidoPrincipal{
    grid-area: main2;
}
footer{
    grid-area: footer;
}

.gridContainerOther{
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: "header2 header2"
                        "menuIzquierdo main2"
                        "footer footer";

}
.menuLateral{
    padding-top: 32px;
}
.menuLateral li{
    list-style: none;
    padding: 22px;
}
.menuLateral a{
    text-decoration: none;
    color: black;
}

.contenidoPrincipal{
    display: flex;  
    align-items: center;  
}
.textoImagen{
    width: 50%;
}
.imagenAcercaDeMi{
    width: 50%;
 }
.contenidoPrincipal h2{
    padding-top: 32px;
}
.contenidoPrincipal p{
    padding-top:22px; 
    padding-right: 32px;
    padding-bottom: 32px;
    text-align: justify;
}
.imagenAcercaDeMi img{
    height: 500px;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
}


/* Portafolio */
.contenidoPortafolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imagenGrande{
    width: 60%;
    display: flex;
    justify-content: start;
}
.imagenGrande img{
    image-resolution: 150px;  
    width: 700px;
    padding: 42px;
}
.fotosFlex{
    display: flex;
    flex-direction: column;
    padding: 32px;
}
.fotospeques  {
    width: 200px;
    padding: 10px;
}
.contenidoPortafolio p{
    padding: 10px 32px;
}
/* Servicios*/


/* contacto */
#nombre{
    width: 30%;
}
#correo{
    width: 30%;
}
#mensaje{
    width: 30%;
}